@page
@model WebComputerFirm.Pages.Service.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].ServiceTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].ServiceCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
