@page
@model WebComputerFirm.Pages.FillReq.Filter.FilterPositionModel
@{
}
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeePhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmployeePassport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].PositionId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
<tr>
    <td>
        @Html.DisplayFor(model => item.EmployeeId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeFullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeAge)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeGender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeePhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeePassport)
    </td>

    <td>
        @Model.Position.JobTitle
    </td>
</tr>}
    </tbody>
</table>
